input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  background: #7c3aed;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  background: #7c3aed;
  cursor: pointer;
}
